<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    
</head>
<body ng-app='appLearn'>
    <div class="container" ng-controller="MissatgesController">
        <h1>Darrers Missatges</h1>
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="missatgeBody" class="form-control"/>
                    <br>
                    <button class="btn btn-success btn-lg" ng-click="afegirMissatge()">Afegir Missatge</button>
                </div>
            </div>
        </form>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="missatge in missatges"> 
                    <strong>{{missatge.username}}</strong>
                    <p>{{missatge.body}}</p>
                </li>
            </ul>
            
        </div>
        
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script>
        var app = angular.module('appLearn',[]);
        app.controller('MissatgesController',function($scope) {
                $scope.missatges = [
                    {
                        username: 'xavigimenez.cat',
                        body: 'Angular mola'
                    },
                    {
                        username: 'iocasesnoves.cat',
                        body: 'Aprenent Angular'
                    }];
                $scope.afegirMissatge = function() {
                    if ($scope.missatgeBody){
                        $scope.missatges.unshift({
                            username: "jofrecasevella.cat",
                            body: $scope.missatgeBody
                        });
                    }
                    $scope.missatgeBody = null;
                };
            });
    </script>
</body>
</html>